.image-container {
  text-align: center;
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
  .container {
    /* some layout rules */
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  .container {
    /* some layout rules */
  }
}

/* phones */
@media only screen and (max-width: 430px) {
  .margin-list {
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 15px;
  }
}

body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5e/Mount_Rainier_National_Park_on_21_June_2024.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.crimson-text-regular {
  font-family: 'Crimson Text', serif !important;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: 'Crimson Text', serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: 'Crimson Text', serif;
  font-weight: 700;
  font-style: italic;
}

.turn-90 {
  transform: rotate(-90deg);
  transform-origin: left top;
  position: absolute;
  top: 140px;
  color: 082759;
}

.side-by-side {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
  color: #082759;
}

.side-by-side a {
  text-decoration: none;
  color: inherit;
}

.side-by-side a:hover {
  text-decoration: underline;
}

.centre {
  text-align: center;
}

ul {
  padding-inline-start: 00px;
}

.normal-link a {
  text-decoration: none;
  color: #082759;
}

.normal-link a:hover {
}

.techincal-align {
  margin-left: 50px;
}

.alight-text {
  margin-right: 50px;
}

.white-bg {
  background-color: #ffffff !important;
  background: #ffffff !important;
}

.text-colour {
  color: #082759;
}

.padding {
  padding-top: 50px;
  padding-bottom: 80px;
}

.italics {
  font-style: italic;
}

.centre-title {
  padding-right: 50px;
}

.center-container {
  display: flex;
  justify-content: center;
}

.underline {
  text-decoration: underline;
}
